{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% block title %}
Home
{% endblock title %}
{% block content %}


{% if error_msg %}
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>{{error_msg}}</h3>
      </div>
      <form action=" {% url 'home' %}" method = "post">
          {% csrf_token %}
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Ok</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %} 

{% comment %} <table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive" id= "myul">
  <thead class="thead-inverse|thead-default">
      
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
      </tr>
      </thead>
      <tbody>
        {% for i in c %}
        <tr>
          <td scope ="row"><a href = "#">{{i.firstname}}</a></td>
          <td><a href = "#">{{i.lastname}}</a></td>
          <td><a href = "#">{{i.email}}</a></td>
          <td><a href = "#">{{i.gender}}</a></td>
        </tr>
         {% endfor %}
        </tbody>
  </table> {% endcomment %}
<div class="continer"> 
  <div class="row mx-auto">
    <div class="col-lg-3">
      {% comment %} <div class="list-group">
        {%for category in cate%}
        <a href="/home/?category={{category.id}}" class="list-group-item list-group-item-action active" aria-current="true">
          {{category.name}}
        </a>
       
        {% endfor %}
      </div>  {% endcomment %}

      {% comment %} class="nav-item dropdown"> {% endcomment %}
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
       Choose category
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>{%for category in cate%}
          <a href="/home/?category={{category.id}}" class="list-group-item list-group-item-action active" aria-current="true">
            {{category.name}}
          </a>
         
          {% endfor %}</li>
      </ul>
    </li>
    </div>
    {% for img in path  %}
    <div class="card mx-auto my-3" style="width: 18rem;">
      <img src="{{img.image.url}}" class="card-img-top" alt="..." height = 200>
      <div class="card-body">
        <h5 class="card-title"{{img.name}}</h5>
        <p class="card-text">Rs {{img.price}}</p>
        <div class="cart-footer row no gutter">

          {% if img|isexistincart:request.session.cart %}

         <div class="row">
          <form action="#{{img.id}}" method = "post" class = "col-2">
            {% csrf_token %}
              <input type="text" name="cartid" value ={{img.id}} hidden>
              <input type="text" name = "minus" value="true" hidden >
              <input type = "submit" value = "-" class="btn btn-block btn-primary">
          </form>
          <div class="text-center col">
            {{img|cartquantity:request.session.cart}}
          </div>
          <form action="#{{img.id}}" method = "post" class = "col-2">
            {% csrf_token %}
              <input type="text" name="cartid" value ={{img.id}} hidden>
              <input type = "submit" value = "+" class="btn btn-block btn-primary">
          </form>
        </div>
        {% else %}
        <form action="#{{img.id}}" method = "post" class = "btn-block">
          {% csrf_token %}
            <input type="text" name="cartid" value ={{img.id}} hidden>
          <button type = "submit" class="btn btn-primary btn-block form-control">Add to cart</button>
        </form>
        {% endif %}
        </div>
        
       
      </div>
    </div>{% endfor %}
  </div>
</div>
<script>

  if (window.history.replaceState){
    (window.history.replaceState( null, null,window.location.href ));
  }
</script>
{% endblock content %}